.dash-content{
    height: 800px;
}

.dash-content ul{
    position: absolute;
    top:300px;
    left: 100px;
}

.dash-content ul a{
    text-decoration: none;
    font-size: 40px;
    color: black;
}

.dash-content ul a:hover{
    text-decoration: none;
    font-size: 40px;
    color: rgb(29, 209, 245);
}

.dash-content li{
    padding: 10px 0;

}