/* CartList.css */
.cart-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
  }
  
  .cart-item img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .cart-item-details {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
  }
  
  .cart-item-name {
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
  }
  
  .cart-item-quantity {
    display: flex;
    align-items: center;
  }
  
  .cart-item-quantity button {
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
  }
  
  .cart-item-price {
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
  }
  
  .cart-total {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  